/refdoc/
*.l#*
*.b#*
*.s#*
*.bak
/feld/sw/build/
/feld/sw/dist/
/feld/sw/debug/
/doc/build/
/feld/sw/nbproject/private/
/tools/bootloader.X/build/
/tools/bootloader.X/dist/
/rpi/rpi/target/
/app/rpi/target/
/app/mcan/target/